div
{
    display: flex;
    flex-direction: column;
    text-align: center;  
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

div header
{
    flex-basis: 100%;    
    height: 20vw;
    background-color: red;
    order: 0;
}

div main
{
    flex-basis: 100%;    
    height: 60vw;
    background-color: lightblue;   
    order: 1;
    overflow-x: auto;
}


div aside#left
{
    flex-basis: 100%;    
    height: 40vw;
    background-color: green;
    order: 2;
}

div aside#right
{
    flex-basis: 100%;
    height: 40vw;
    background-color: pink;
    order: 3;
}

div footer
{
    flex-basis: 100%;
    height: 20vw;
    background-color: purple;
    order: 4;
}

@media all and (min-width: 768px)
{
    
    div
    {
        flex-direction: row; 
        flex-wrap: wrap;
        align-items: stretch;
    }  
    
    div main
    {        
        flex-basis: 65%;
    }
    
    div aside#right
    {
       order: 1;       
       flex-basis: 35%; 
       height: auto;
    }
    
}

@media all and (min-width: 993px)
{
    div main
    {        
        order: 1;
        flex-basis: 50%;
    }
    
    div aside#right
    {             
        order: 2;
        flex-basis: 25%;       
    }
    
    div aside#left
    {
       order: 0;      
       flex-basis: 25%;  
       height: auto;
    }
}
