*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#pracownicy
{
    display: flex;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
}

div#pracownicy div#title
{
    margin-bottom: 1vw;
    margin-top: 1.5vw;
}

div#pracownicy div#title #tytul-pracownik, #tytul-czas, #tytul-stawka, #tytul-wyplata
{
    font-size: 1.6vw;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

div#pracownicy div#title #tytul-pracownik
{
    margin-right: 4.5vw;
}

div#pracownicy div#title #tytul-czas
{
    margin-right: 2vw;
}

div#pracownicy div#title #tytul-czas::after
{
    content:' [h]';
    text-transform: lowercase;
}

div#pracownicy div#title #tytul-stawka
{
    margin-right: 2vw;
}

div#pracownicy div#title #tytul-stawka::after
{
    content:' [pln/h]';
    text-transform: lowercase;
}

div#pracownicy div:nth-of-type(1n+3)
{
    display: flex;
    margin-bottom: 1vw;
    border-bottom: 0.1vw solid black;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    padding: 0.5vw;
}

div#pracownicy div span.pracownik
{
    width: 15vw;
    font-size: 1.5vw;
}

div#pracownicy div input.czas, input.stawka, span.wyplata
{
    font-size: 1.5vw;
    padding: 0.25vw;
    width: 5vw;
    text-align: center;
    margin-left: 3.5vw;
}

div#pracownicy div input.czas
{
    margin-right: 2vw;
}

div#pracownicy div input.stawka
{
    margin-right: 2vw;
}

div#pracownicy button#oblicz
{
    font-size: 3vw;
    font-weight: bold;
    text-transform: uppercase;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
    margin-top: 2vw;  
    outline: none;
}

div#pracownicy button#oblicz:hover
{
    opacity: 0.5;
}


@media all and (max-width:900px)
{
    div#pracownicy div#title
    {
        display: flex;
    }
    
    div#pracownicy div#title #tytul-pracownik
    {
        font-size: 15px;
        flex-basis: 40%; 
        
    }
    
    div#pracownicy div#title #tytul-czas, #tytul-stawka, #tytul-wyplata 
    {
        font-size: 15px;
        flex-basis: 20%;
    } 
    
    div#pracownicy div#title #tytul-wyplata
    {
        padding-left: 3.5vw;
    }
    
    
    div#pracownicy div span.pracownik
    {
        flex-basis: 40%;
        font-size: 15px;
    }
    
    div#pracownicy div input.czas, input.stawka, span.wyplata
    {
        flex-basis: 20%;  
        font-size: 15px;        
    }    
}
