*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div#pracownicy
{
    display: flex;
    width: 100vw;
    max-width: 100%;
    flex-direction: column;
}

div#pracownicy div#title
{
    margin-bottom: 1vw;
    margin-top: 1.5vw;
}

div#pracownicy div#title #tytul-pracownik, #tytul-czas, #tytul-stawka, #tytul-wyplata
{
    font-size: 1.6vw;
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
}

div#pracownicy div#title #tytul-pracownik
{
    margin-right: 4.5vw;
}

div#pracownicy div#title #tytul-czas
{
    margin-right: 3vw;
}

div#pracownicy div#title #tytul-stawka
{
    margin-right: 1vw;
}


div#pracownicy div:nth-of-type(1n+3)
{
    display: flex;
    margin-bottom: 1vw;
    border-bottom: 0.1vw solid black;
    border-bottom-left-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
    padding: 0.5vw;
}

div#pracownicy div span.pracownik
{
    width: 15vw;
    font-size: 1.5vw;
}

div#pracownicy div input.czas, input.stawka, span.wyplata
{
    font-size: 1.5vw;
    padding: 0.25vw;
    width: 5vw;
    text-align: center;
    margin-left: 3vw;
}