/*--------------------------common styles START----------------------------------*/

*
{   margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sans-serif; }

.section-common-style
{   min-height: 100vh;
    padding: 5vh;   }

hr
{   height: 0.25vh;     
    width: 6vh;
    display: inline-block;
    margin: 1vw 2vw 1vw 2vw;    }

a.btn-style
{   margin-top: 1.5vh;
    padding: 1.5vh 3vh 1.5vh 3vh;  
    border: none;
    border-radius: 1vw;    
    color: #fff;
    outline: none;
    transition: background-color 0.5s ease;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;  }

a.btn-style:active, a.btn-style:focus
{   border: none;
    outline: none;  }

/*--------------------------technologies START----------------------------------*/

section#technologies
{   text-align: center; 
    height: fit-content;
    padding: 5vw; 
    width: 100%;
}

section#technologies hr
{   background-color: #cc7a00;  }

.technologies-item
{   padding: 2vw;   }

i
{   font-size: 200px;   }

section#technologies div.container-fluid div.row div:nth-of-type(1) i
{   color: #e60000; }

section#technologies div.container-fluid div.row div:nth-of-type(2) i
{   color: #0066ff; }

section#technologies div.container-fluid div.row div:nth-of-type(3) i
{   color: #ffff00; }

section#technologies div.container-fluid div.row div:nth-of-type(4) i
{   color: #87509c; }

section#technologies div.container-fluid div.row div:nth-of-type(5) i
{   color: #000; }

section#technologies div.container-fluid div.row div:nth-of-type(6) i
{   color: #00ccff; }

