*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0;
}

.section
{
    background-color: #b38600;
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: left;
    padding: 10px;    
    transition: background-color 0.5s ease;
    border: none;   
    outline: none;
}

.section::after
{
    content: '\002B'; 
    float: right;
    margin-right: 10px;
}

.section:hover
{
    background-color: #e6ac00;
    cursor: pointer;
}

.section-active
{
    background-color: #e6ac00;
}

.section-active::after
{
    content: '\2212'; 
}

.content
{
    height: 0;
    width: 100%; 
    background-color: #e6ac00; 
    transition: height 1s ease;
    overflow: hidden;
}

.content-active
{
    display: inline-block;  
    height: 330px;
}

.skill-img
{
    transition: all 0.5s;
    float: left;
}

.paragraph
{
    font-size: 20px;
    float: left;
    position: relative;
}